<!DOCTYPE html>
{% load staticfiles %}
{% load i18n %}
<html lang="es">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static 'css/formularios.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Social Route - {% trans "Editar perfil" %}</title>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'inicio' %}">Social Route</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <form class="navbar-form navbar-left" action="/busqueda/" method="get">
            <div class="form-group">
                <input type="text" class="form-control" name="consulta" placeholder="{% trans 'Búsqueda' %}">
            </div>
            <button type="submit" class="btn btn-default" value="Buscar"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
          </form>
          <ul class="nav navbar-nav">
              <div class = "dropdown">
                  <a href="{% url 'miPerfil' %}" class="btn btn-primary" role="button">{% trans "Mi perfil" %}</a>
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="margin-bottom:8px;
    background-image: none;">
                      <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                      <li><a href="{% url 'crearRuta' %}">{% trans "Crear ruta" %}</a> </li>
                      <li><a href="{% url 'crearLugarInteres' %}">{% trans "Crear lugar de interés" %}</a> </li>
                      <li role="separator" class="divider"></li>
                      <li><a href="{% url 'miPerfil' %}">{% trans "Mi perfil" %}</a> </li>
                      <li><a href="{% url 'editarPerfil' %}">{% trans "Editar perfil" %}</a> </li>
                      <li><a class="barra" href="{% url 'logout'%}">{% trans "Cerrar sesión" %}</a></li>
                  </ul>
              </div>
          </ul>
        </div>
      </div>
    </nav>
    <h1>{% trans "Editar perfil" %}</h1>
    {% if error %}
		<p style="color:red">{{ error }}</p>
	{% endif %}
    <div class="cuerpo">
            <form action="" method="post">{% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <a href="{{request.META.HTTP_REFERER}}"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>{% trans "Volver" %}</a>
                <input type="submit" value="{% trans 'Guardar' %}">
            </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>