<!DOCTYPE html>
{% load staticfiles %}
{% load i18n %}
<html lang="es">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/ruta.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Social Route - {% trans "Perfil de usuario" %}</title>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'inicio' %}">Social Route</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <form class="navbar-form navbar-left" action="/busqueda/" method="get">
            <div class="form-group">
                <input type="text" class="form-control" name="consulta" placeholder="{% trans 'Búsqueda' %}">
            </div>
            <button type="submit" class="btn btn-default" value="Buscar"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
          </form>
          <ul class="nav navbar-nav">
              <div class = "dropdown">
                  <a href="{% url 'miPerfil' %}" class="btn btn-primary" role="button">{% trans "Mi perfil" %}</a>
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                      <li><a href="{% url 'crearRuta' %}">{% trans "Crear ruta" %}</a> </li>
                      <li><a href="{% url 'crearLugarInteres' %}">{% trans "Crear lugar de interés" %}</a> </li>
                      <li role="separator" class="divider"></li>
                      <li><a href="{% url 'miPerfil' %}">{% trans "Mi perfil" %}</a> </li>
                      <li><a href="{% url 'editarPerfil' %}">{% trans "Editar perfil" %}</a> </li>
                      <li><a class="barra" href="{% url 'logout'%}">{% trans "Cerrar sesión" %}</a></li>
                  </ul>
              </div>
          </ul>
        </div>
      </div>
    </nav>
{% if perfil.alias != usuario.alias %}
<h1>{% trans "Perfil de " %}{{ perfil.alias }}</h1>
{% if not usuario_seguido %}
<a onclick="seguirUsuario({{perfil.id}})" class="btn btn-primary" role="button">{% trans "Seguir" %}</a><br/>
{% else %}
<a onclick="dejarSeguirUsuario({{perfil.id}})" class="btn btn-primary" role="button">{% trans "Dejar de seguir" %}</a><br/>
{% endif %}
{% else %}
<h1>{{ usuario.alias }}</h1>
{% endif %}
{% if usuario.alias == perfil.alias %}
<a href="{% url 'editarPerfil' %}" class="btn btn-primary" role="button">{% trans "Editar perfil" %}</a>
<a href="{% url 'borrarPerfil' %}" class="btn btn-primary" role="button" style="background-color:#b42c0c; border-color:#b42c0c"
       onclick="return confirm('¿Eliminar perfil?')">{% trans "Eliminar perfil" %}</a><br/>
{% endif %}

<div class="cuerpo">
    <p>{% trans "Ingreso:" %} {{perfil.fechaIngreso }}</p><br/>
    <p>{% trans "Email:" %} {{perfil.email}}</p><br/>

    <div>
        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="#rutas_creadas" data-toggle="tab">{% trans "Rutas creadas" %}</a></li>
            <li role="presentation"><a href="#rutas_seguidas" data-toggle="tab">{% trans "Rutas seguidas" %}</a></li>
            <li role="presentation"><a href="#usuarios_seguidos" data-toggle="tab">{% trans "Usuarios seguidos" %}</a></li>
        </ul>
        <div class="tab-content clearfix">
            <div class="tab-pane active" id="rutas_creadas">
                {% if rutas_creadas %}
                <div class="panel panel-default">
                    <!-- Table -->
                    <table class="table">
                        {% for ruta in rutas_creadas %}
                        <tr>
                            <td><a href="{% url 'ruta' ruta.id %}">{{ ruta.titulo }}</a></td>
                            {% if usuario.id == ruta.creador.id %}
                            <td><a onclick="borrarRuta({{ruta.id}})"><span
                                    class="glyphicon glyphicon-trash" aria-hidden="true"></span>{% trans "Borrar" %}</a></td>
                            <td><a href="{% url 'editarRuta' ruta.id %}"><span class="glyphicon glyphicon-pencil"
                                                                               aria-hidden="true"></span>{% trans "Editar" %}</a></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                {% else %}
                {% if perfil.alias == usuario.alias %}
                <h3>{% trans "No has creado ninguna ruta" %}</h3>
                {% else %}
                <h3>{% trans "Este usuario no ha creado ninguna ruta" %}</h3>
                {% endif %}
                {% endif %}
            </div>
            <div class="tab-pane" id="rutas_seguidas">
                {% if rutas_seguidas %}
                <div class="panel panel-default">
                    <!-- Table -->
                    <table class="table">
                        {% for ruta in rutas_seguidas %}
                        <tr>
                            <td><a href="{% url 'ruta' ruta.id %}">{{ ruta.titulo }}</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                {% else %}
                {% if perfil.alias == usuario.alias %}
                <h3>{% trans "No sigues ninguna ruta" %}</h3>
                {% else %}
                <h3>{% trans "Este usuario no sigue ninguna ruta" %}</h3>
                {% endif %}
                {% endif %}
            </div>
            <div class="tab-pane" id="usuarios_seguidos">
                {% if usuarios_seguidos %}
                <div class="panel panel-default">
                    <!-- Table -->
                    <table class="table">
                        {% for perfil in usuarios_seguidos %}
                        <tr>
                            <td><a href="{% url 'usuario' perfil.id %}">{{ perfil.alias }}</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                {% else %}
                {% if perfil.alias == usuario.alias %}
                <h3>{% trans "No sigues a ningún usuario" %}</h3>
                {% else %}
                <h3>{% trans "Este usuario no sigue a ningún usuario" %}</h3>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function seguirUsuario(id_usuario){
        var $url = "/"+id_usuario+"/seguirUsuario/";
                $.ajax({
                        url: $url,
                        success: function(data){
                            $('body').html(data);
                        }
                    });
        }

        function dejarSeguirUsuario(id_usuario){
        var $url = "/"+id_usuario+"/dejarDeSeguirUsuario/";
                $.ajax({
                        url: $url,
                        success: function(data){
                            $('body').html(data);
                        }
                    });
        }
        function borrarRuta(id_ruta){
                var confirmacion = confirm('¿Borrar la ruta?');
                if (confirmacion == true){
                    var $url = "/"+id_ruta+"/borrarRuta/";
                    $.ajax({
                        url: $url,
                        success: function(data){
                            $('body').html(data);
                        },
                        error: function(){
                            alert("Error");
                        }
                    });
                }
            }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</div>

</body>
</html>