<!DOCTYPE html>
{% load staticfiles %}
{% load i18n %}
<html lang="es">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static 'css/login_registro.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <title>Social Route - {% trans "Recuperación de la contraseña" %}</title>
</head>
<body>
    <h1>{% trans "Recuperación de la contraseña" %}</h1>
    {% if error %}
		<p style="color:red">{{ error }}</p>
	{% endif %}
    <div>
		<form action="" method="post" class="form_registro">{% csrf_token %}
			<table>
				{{ form.as_p}}
			</table>
			<input type="submit" value="{% trans 'Enviar' %}">
		</form>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>