body{
    color:#002f2f;
    font-family: 'Muli';
    position: relative;
}
#busqueda{
    margin-top:60px;
}
#hueco{
    margin-top:60px;
}
h1{
    color: #046380;
    font-family: 'Pacifico';
    font-size: 300%;
    text-align: left;
    position: relative;
    margin-left:30px;
}
#nueva-ruta{
    margin-left:30px;
    margin-top:30px;
    float: left;
    position: absolute;
}
h2,h3{
    color: #046380;
    margin-left:30px;
    margin-right:50px;
}

.container-fluid{
    background-color:#002f2f;
    margin:0;
}
.navbar-default{
    border-color:#002f2f;
}
.navbar-default .navbar-brand{
    color:#EFECCA;
    font-family: 'Pacifico';
    margin-right: 10px;
}
.navbar-collapse .navbar-nav > li > a{
    color: #efecca;
}
.dropdown{
    position: absolute;
    margin-top:8px;
    right: 50px;
}
.dropdown .btn-default{
    margin-bottom:8px;
    background-image: none;
}
.btn-primary{
    color: #efecca;
    border-color: #efecca;
    background: #002f2f;
    margin-left:30px;
    margin-bottom:10px;
}
.btn-default{
    background-image: none;
}
input[type="text"]{
    margin-left: 30px;
}
.resultados{
    width: 75%;
    margin: 0 auto;
}
.list-group a{
    margin-top:3px;
    color:#002f2f;
}
.list-group-item{
    border-color:#A7A37E;
    background-color:#E6E2AF;
    list-style-type: none;
}
#nuevo-li{
    color: #31353d;
    font-family: 'Muli'
}
.panel > .panel-heading{
    background-image: none;
    background-color: #efecca;
    color: #002f2f;
}
h3 > a{
    color: #428bca;
}
#timeline{
    width: 67%;
    float: right;
    margin-right: 30px;
}

#datos{
    width: 25%;
    float: left;
    margin-left: 30px;
    margin-top: 30px;
    position: absolute;
}
#datos > h2{
    font-family: 'Pacifico'
}

td > a{
    color: #002f2f;
}